<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>         <!--  Helaas geeft deze line een foutmelding in VSC, echter werkt de code wel gewoon zonder enige problemen. -->
    
<body>
    <a href="/"><h1>Game, set, match!</h1></a>
    <h2>User profile</h2>
    <p>Welcome to your profile, <%= user.username %></p>
    <p>Your email: <%= user.email %></p>
    <h3>Your platforms: </h3>
    <article>
        <img src="<%= user.pc %>" alt="">
        <img src="<%= user.playstation %>" alt="">
        <img src="<%= user.xbox %>" alt="">
    </article>
    <h3>Your games: </h3>
    <article>
        <img src="<%= user.fortnite %>" alt="">
        <img src="<%= user.minecraft %>" alt="">
        <img src="<%= user.gta %>" alt="">
        <img src="<%= user.league %>" alt="">
        <img src="<%= user.f1 %>" alt="">
        <img src="<%= user.valorant %>" alt="">
        <img src="<%= user.rl %>" alt="">
        <img src="<%= user.cod %>" alt="">
        <img src="<%= user.fifa %>" alt="">
        <img src="<%= user.stardew %>" alt="">
    </article>
    </p>
    <form action="/logout?_method=DELETE" method="post">
        <input type="submit" value="Log out">
    </form>
    <script>
        console.log({User})
    </script>
</body>
</html>